{% extends "base.html" %}
{% block header %}
<!-- Page Header-->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row" style="max-height: 330px; margin-top: -5%;">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h3>注册</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class='navbar'>
        <nav>
            <ul>
                <li><a href="#">NoteKeeper</a></li>
                <div class="login-register">
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </div>
            </ul>
        </nav>
    </div>
    <h1>Register</h1>

        <div class="signup-form">
            <form method='POST' action=''>
                {{form.hidden_tag()}}
                {{form.email}}
                {{form.username}}
                {{form.password}}
                {{form.submit}}
            </form>
        </div>
            <hr />
    <script>
    document.getElementById('submit').addEventListener('click', sayHello);

    function sayHello() {
         var username = document.forms[0].username.value;
         var password = document.forms[0].password.value;
         if (username == '') {alert('username cannot be blank!')};
         if (password == '') {alert('password cannot be blank!')};
         if (username !== '' && password !== '') {
            alert("您好 " + username + "! 注册成功 "+"! 您的密码是 " + password + '.');
            var answer = "您好 " + username + "! 注册成功 "+"! 您的密码是 " + password + '.';
            document.getElementById('answer').innerHTML = answer;
         }
     }
    </script>    
        <hr />
{% endblock %}